# Ignore node_modules karena akan di-install ulang dalam container
node_modules

# Ignore log file
*.log

# Ignore environment file jika tidak perlu di-build ke container
#.env

node_modules
**/node_modules
.git
.DS_Store
*.log


testing
*.md
*.lock
**/build/
**/.gradle/
**/.idea/
**/.vscode/
